* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #FAEADD;
    --secondary-color: #FBCF4F;
    --text-color: #522A6F;
    --background-color: #FAEADD;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    padding: 1rem;
    color: #222023;
}

th {
    padding: 1.5rem;
}

.btn-action {
    background-color: #F29CB7;
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--text-color);
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}